<ng-container *ngIf="items$ as items; else elseBlock">
  <ng-container *ngIf="items.length; else emptyBlock">
    <ol class="todo-list">
      <li class="todo-item" *ngFor="let item of items">
        <label class="item-label">
          <input [checked]="item.payload.doc.data().done" (change)="update($event, item)" type="checkbox"
            class="item-checkbox">
        </label>
        <span class="item-description">
          {{ item.payload.doc.data().value }}
        </span>
        <button class="item-delete" (click)="delete(item)">
          ❌
        </button>
      </li>
    </ol>
  </ng-container>
  <ng-template #emptyBlock>
    <div class="todo-alert" role="alert">
      Nenhum item encontrado
    </div>
  </ng-template>
</ng-container>
<ng-template #elseBlock>
  <div class="todo-loader">
    <progress role="progressbar" class="todo-progress">Carregando…</progress>
  </div>
</ng-template>
